@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Syne', sans-serif;
}
.section3{
    padding:11% 80px 0 80px;
}
.left-bar{
    padding-top: 3%;
}
.left-bar h6{
    font-size: 18px;
    font-weight: 500;
    color:#E64C62;
}

.left-bar h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 70px;
    color: #0E1871;
}
.left-bar h1 span{
    background: linear-gradient(89.88deg , #FB5155 0.08% ,#6129AC 88.87%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
}

.left-bar .span1{
display: block;
font-weight: 400;
font-size: 17px;
line-height:30px;
margin-bottom:15px;
color:#5F637A;
}
.left-bar .span2{
    display: block;
    font-weight: 400;
font-size: 17px;
line-height:30px;
margin-bottom:15px;
color:#5F637A;
}
.right-bar img{
    max-width: 100%;
}
@media(max-width:1236px) and (min-width:1180px){
    .section3{
        padding: 10% 50px 0 50px;
    }
    .left-bar h1{
        font-size: 40px;
    }
    .left-bar .span1 , .left-bar .span2{
        font-size: 15px;
    }
    }
    @media(max-width:1180px) and (min-width:998px){
        .section3{
            padding: 10% 40px 0 40px;
        }
        .left-bar h1{
            font-size: 36px;
        }
        .left-bar h1 span{
            font-size:36px;
        }
        .left-bar .span1 , .left-bar .span2{
            font-size: 15px;
        }
    }
    
    @media(max-width:998px) and (min-width:500px){
        .section3{
            padding: 10% 20px 0 20px;
        }
        .left-bar h1{
            font-size: 30px;
        }
        .left-bar h1 span{
            font-size: 30px;
        }
        .left-bar .span1 br , .left-bar .span2 br{
            display: none;
        }  
        .left-bar .span1 , .left-bar .span2{
            font-size: 15px;
        }   
    }
    @media(max-width:500px){
        .section3{
            padding: 10% 40px 0 40px;
        } 
        .left-bar h1{
            font-size: 28px;
        }
        .left-bar h1 span{
            font-size: 28px;
        }
        .left-bar .span1 br , .left-bar .span2 br{
            display: none;
        }  
        .left-bar .span1 , .left-bar .span2{
            font-size: 15px;
        }  
    }