@import url('https://fonts.cdnfonts.com/css/circular-std');

*, ::after ,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Circular Std', sans-serif;
}
.sections{
    padding:15% 100px 0 100px;
}
.about-section{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:start;
}
.about-section h1{
    font-size:74px;
    font-weight: 700;
    color: #0e1871;
}
.about-section a{
    text-decoration: none;
    font-size:20px;
    font-weight: 700;
    color: #0e1871;
}
.about-section span i{
    font-size: 14px;
    color: #696969;
    padding: 0 7px;
}

@media(max-width:1198px) and (min-width:1090px){
    .sections{
        padding:25% 100px 0 100px;
    } 
    .about-section h1{
        font-size: 55px;
    }  
}
@media(max-width:1090px) and (min-width:733px){
    .sections{
        padding:25% 100px 0 100px;
    }  
   
    .about-section h1{
        font-size: 45px;
    }   
}
@media(max-width:733px) and (min-width:500px){
    .sections{
        padding:25% 100px 0 100px;
    }  
    .about-section h1{
        font-size: 35px;
    }   
}
@media(max-width:500px){
    .sections{
        padding:35% 100px 0 100px;
    }  
    .about-section h1{
        font-size: 35px;
    } 
}
