.brands-cd{
    border-top: 1px solid #Ccc;
    margin: 0 80px;
}
.magazine-brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.magazine-brands img:nth-child(4){
    width: 179.2px;
    height: 43px;
}
.magazine-brands img:nth-child(5){
    width: 179.2px;
    height: 54.95px;
}
.magazine-brands img:nth-child(1){
    width: 179.2px;
    height: 43.8px;
}
.magazine-brands img:nth-child(2){
    width: 179.2px;
    height: 58.93px;
}
.magazine-brands img:nth-child(3){
    width: 110px;
    height: 52px;
}
@media(max-width:1200px) and (min-width:1090px){
    .brands-cd{
        margin: 0 80px;
    } 
}
@media(max-width:1198px) and (min-width:1090px){
    .brands-cd{
        margin: 0 100px;
    } 
    .magazine-brands img:nth-child(1){
        display: none;
    }
    .magazine-brands img:nth-child(4){
        display: none;
    }
    .magazine-brands img:nth-child(5){
        display: none;
    }
    .magazine-brands img:nth-child(2){
        width:225px;
        height: 59px;
    }
}
@media(max-width:1090px) and (min-width:733px){
    .magazine-brands{
        margin: 0 80px;
    } 
    .magazine-brands img:nth-child(1){
        display: none;
    }
    .magazine-brands img:nth-child(4){
        display: none;
    }
    .magazine-brands img:nth-child(5){
        display: none;
    }
    .magazine-brands img:nth-child(2){
        width: 200px;
        height: 54px;
    }
    
}
@media(max-width:733px) and (min-width:500px){
    .brands-cd{
        margin: 0 60px;
    } 
    .magazine-brands img:nth-child(1){
        display: none;
    }
    .magazine-brands img:nth-child(4){
        display: none;
    }
    .magazine-brands img:nth-child(5){
        display: none;
    }
    .magazine-brands img:nth-child(2){
        width: 200px;
        height: 54px;
    }
   
}
@media(max-width:500px){
    .brands-cd{
        padding: 5% 20px;
    } 
    .magazine-brands img:nth-child(1){
        display: none;
    }
    .magazine-brands img:nth-child(4){
        display: none;
    }
    .magazine-brands img:nth-child(5){
        display: none;
    }
    .magazine-brands img:nth-child(2){
        width: 150px;
        height: 54px;
    }
  
}


