@import url('https://fonts.cdnfonts.com/css/circular-std');

*, ::after ,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Circular Std', sans-serif;
}
.percent{
    padding: 10% 150px;
}
.percent-set-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.percent-set-time h6{
    color: #086ad7;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
}
.percent-set-time h2{
    line-height: 50px;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 42px;
    letter-spacing: -3px;
    text-align: center;
}
.percent-set-time span{
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: #696969;
    text-align: center;
}
.percent-set-item{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0;
}
.progress-product{
    position: relative;
}
.progress-product::before{
    content: "";
    background-color:#086ad7;
    position: absolute;
    width: 95%;
    height: 5px;
    border-radius: 7px;
    top: 0;
    animation: animate 2s;
}
@-webkit-keyframes animate{
    0%{
        width: 0;
    }
}
@keyframes animate{
    0%{
        width: 0;
    }
}
.progress-digital{
    position: relative;
}
.progress-digital::before{
    content: "";
    background-color:#086ad7;
    position: absolute;
    width: 85%;
    height: 5px;
    border-radius: 7px;
    top: 0;
    animation: animate 2s;
}
.progress-it{
    position: relative;
}
.progress-it::before{
    content: "";
    background-color:#086ad7;
    position: absolute;
    width: 90%;
    height: 5px;
    border-radius: 7px;
    top: 0;
    animation: animate 2s;
}
.progress-stratagy{
    position: relative;
}
.progress-stratagy::before{
    content: "";
    background-color:#086ad7;
    position: absolute;
    width: 70%;
    height: 5px;
    border-radius: 7px;
    top: 0;
    animation: animate 2s;
}

@media(max-width:767px) and (min-width:733px){
    .percent{
        padding: 10% 100px;
    } 
    .percent-set-time h2{
        font-size: 38px;
    }
}
@media(max-width:733px) and (min-width:500px){
    .percent{
        padding: 10% 90px;
    }
    .percent-set-time h2{
        font-size: 30px;
    }
    .percent-set-time span{
        font-size: 16px;
    }
}
@media(max-width:500px){
    .percent{
        padding: 10% 80px;
    } 
    .percent-set-time h2{
        font-size: 28px;
    }
    .percent-set-time span{
        font-size: 15px;
    }
}
